@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
 background-color: #f8f9fa!important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel{
  display: block;
}